<h1>Edit Tweet</h1>


<form action="/tweets/<%= @tweet.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Content: "<%= @tweet.content %>" </label><br><br>
  <input type="text" name="tweet[content]" id="content" ><br><br>
  <input type="submit" name="submit" id="submit" value="Edit tweet">
</form>